.autocompleteInput {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0;

  label {
    @include fontRegular(16);
    color: #757575;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    border: none;
    @include fontRegular(18);
    color: #2f2f2f;
  }
}
