@import 'styles/variables.scss';

.button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 17px;
  background: $color-primary;
  color: $color-white;
  border-style: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &--green {
    background: #89ffba;
    color: black;
  }

  &--red {
    background: #f86d6d;
    color: white;
  }
}
