.chatBubble {
  position: relative;
  border-radius: 7px;
  padding: 10px;
  max-width: 250px;
  min-height: 40px;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-right: 0;
    margin-top: -11px;
    margin-right: -11px;
  }

  &--left {
    background: #29bac7;

    &::after {
      left: 0;
      border-left-color: #29bac7;
    }
  }

  &--right {
    background: green;

    &::after {
      right: 0;
      border-left-color: green;
    }
  }

  span {
    align-self: flex-end;
    font-size: 10px;
  }
}
