@import 'styles/variables.scss';

.chatBubble {
  position: relative;
  border-radius: 7px;
  padding: 10px;
  max-width: 250px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    margin-top: -11px;
  }

  &--left {
    background: #b5e4e4;
    color: #4d4d4d;

    &::after {
      left: 0;
      border-left: 0;
      border-right-color: #b5e4e4;
      border-left-color: #b5e4e4;
      margin-left: -11px;
    }
  }

  &--right {
    background: #3d9c9c;
    color: white;

    &::after {
      right: 0;
      border-right: 0;
      margin-right: -11px;
      border-left-color: #3d9c9c;
    }
  }

  span {
    align-self: flex-end;
    font-size: 10px;
  }
}
