.nav {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  font-size: 27px;
  line-height: 3;
  height: 100vh;
  border-right: 1px solid #ccc;

  ul {
    li {
      list-style: none;
    }
  }
}
