@import 'styles/variables.scss';

.logo {
  width: 70px;
  height: 70px;
  background: #01c5c4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  img {
    width: 80%;
  }
}
