@import 'styles/mixins.scss';

.dashboard {
  padding: 30px 50px;
  height: 100vh;

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &_header {
      display: flex;

      &--mobile {
        display: none;
      }
    }

    &_userInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 0;
      margin-left: 20px;
    }

    &_postStats {
      display: flex;

      p {
        margin-right: 15px;

        strong {
          @include fontBold(16);
        }
      }
    }
  }

  &__edit {
    padding-top: 20px;

    &_avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__categories {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ececec;
    margin: 30px 0 40px;
  }

  &__posts {
    max-height: 68vh;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@include tablet {
  .dashboard {
    padding: 30px;

    &__posts {
      max-height: 70%;
    }
  }
}

@include mobile {
  .dashboard {
    padding: 15px 0;

    &__profile {
      flex-direction: column;

      button {
        width: 100%;
        margin-top: 20px;
      }

      &_header {
        &--mobile {
          display: block;
        }

        &--desktop {
          display: none;
        }
      }

      &_userInfo {
        padding: 0;

        h2 {
          @include fontBold(20);
        }

        p {
          @include fontLight(16);
        }
      }

      &_postStats {
        margin-top: 10px;
      }
    }

    &__posts {
      max-height: 50%;
    }
  }
}
